#box{
    background-color: aquamarine;
    height: auto;
    width: auto;
    color: red;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}
/* for id we use in css (.) and for class #
   in Js we use (.) of class and # for id's */