#box{
    background-color: aquamarine;
    height: auto;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    align-content: center;
}
.p1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    font-size: 20px;
}
/* for id we use in css (.) and for class #
   in Js we use (.) of class and # for id's */